.main{
    background-color:white
    ;width:30%;
    margin:auto;
    padding:20px;

}

.profile{
    width: 30%;
    float:left;
    background-color:white;
    margin-left: 5px;
    padding: 20px
}
.navbar{
margin-bottom: 5px;
}
.rounded-circle{
    width:70px;
    height: 70px;
}